
body,
html {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
* {
  font-family: "Nunito", sans-serif;
}

/* main-header start */
[data-target="#mainMenu"] {
  position: relative;
  z-index: 999;
}

.main-header {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  /* height: 50%; */
  background-color: #ffffff;

  /* padding: 15px 0; */
}
.navbar {
  margin: 0 8%;
}

.main-header.sticky {
  background: #ffffff;
  padding: 1px 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  /* height: 7.5rem; */
  z-index: 999;
  
}

.main-header.sticky #mainMenu li > a {
  color:  #000000;
  /* color:  #AD5E00; */
  /* color:  #D3770B */
}
.main-header.sticky #mainMenu li > a.active {
  color:  #AD5E00;
  /* color:  #D3770B */
}
.main-header .navbar-brand img {
  width: 70px;
  height: 70px;
  left: 80px;
  top: 10px;
}
label {
  visibility: hidden;
}

#mainMenu li {
  margin-right: 35px;
}

#mainMenu li > a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  position: relative;
  z-index: 1;
  color:  #000000;
  padding-top: 1%;
  text-align: center;
  letter-spacing: .5px;
  
  
}

#mainMenu li > a::before {
  position: absolute;
  content: "";
  background: #AD5E00;;
  bottom: -18px;
  transform: scale(0, 0);
  z-index: -1;
  -webkit-transition: transform 0.8s ease-in-back;
  transition-duration: 0.8s ease-in-back;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
}
#mainMenu li > a:hover {
  color:  #AD5E00;
}

#mainMenu li > a.active{
  color:  #AD5E00;

}

#mainMenu li > a:hover::before,
#mainMenu li > a.active::before {
  content: "";
  position: absolute;
  

  width: 9px;
  height: 9px;
  border-radius: 100%;
  left: calc(50% - 8px);
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

#mainMenu a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: #ffffff;
  width: 130px;
  letter-spacing: .5px;
  font-size: 17px;
  text-align: center;
  background-color:#AD5E00;
  padding: 0.8%;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 10px;
  border: 2px solid #AD5E00;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

#mainMenu a.button:nth-child(2){
  background-color: transparent;
  border: 2px solid #AD5E00;
  color: #AD5E00;;

}
#mainMenu a.button:hover {
  background-color: #ffffff00;
  color: #AD5E00;;
  border: 2px solid #AD5E00;
  
  /* font-size: 18px; */
  font-weight: bold;
  /* padding: 0; */
}
#mainMenu a.button:nth-child(2):hover{
  background-color: #AD5E00;;
  color: #ffffff;

}

/* Main Section */
.main-section{
  /* height: 100vh; */
  padding: 2% 0;
}

.donate-page{
  margin: 3% auto;
  height: 100vh;
}
.donate-img{
  /* width: 50%; */
  background-image: url('../images/threeW.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.bank-details{
  position: absolute;
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  box-shadow: 0 20px 40px rgb(0 0 0 / 10%);
  padding: 50px 20px;
  top: -10px;
  border-radius: 20px;
  right: 160px;
  z-index: 3;
  background-color: #ffffff;
}

.bank-details h5{
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: justify;
}

.bank-details .row {
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin: 3% 0;
}

.bank-details .row .col{
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: lighter;
}

.bank-details p {
  margin-top: 0;
  margin-bottom: .5rem !important;
}

.bank-details p:first-child{
  font-weight: bold;
}
.bank-details .appre{
  text-align: center;
  font-size: 16px;
  margin: 3% 0;
  padding: 0 50px;
}

.donate-info{
  margin: 5% auto;
}

.donate-form{
  background-color: #ffffff;
  position: absolute;
  top: 300px;
  right: 570px;
  width: 55%;
  /* height: 351px; */
  z-index: 4;
  /* box-shadow: 0 20px 40px rgb(0 0 0 / 10%); */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 20px;
  padding:30px;
}

.donate-form p{
  text-align: center;
  font-size: 16px;
}

form {  
  
  /* padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px; */
  
  
  overflow: hidden;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 0 !important;
  font-size: 14px !important;
}
 form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

 form li {
  padding: 0.3em;
  padding: 0.3em;
  margin: 1rem 0;
}
 form span {
  font-weight: 700;
  color: #102a43;
  line-height: 35px;
  line-height: 2.5rem;
  font-size: 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
}
 input[type="submit"] {
  background: #AD5E00;
  color: white;
  font-weight: 700;
  font-size: 18px !important;
  border-radius: 5px;
  margin: 0.8em auto 0 auto;
  /* padding: 5px 0; */
  width: 200px;
}

/*  .container {
    width: 460px;
    margin: 5em auto;
} */

label{
  visibility: visible;
}


 .required-star {
  color: #FFB500;
}

 input,
textarea {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #e1e2eb;
  background-color: #fff;
  color: #102a43;
  caret-color: #829ab1;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 2rem;
  box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
  border-radius: 3px;
}







/*------- FOOTER -------*/
footer{
  background-color: #AD5E00;
  
}

footer li .text-white {
  /* color: #fff!important; */
  font-size: 14px;
  font-weight: 100;
}

footer ul {
  text-align: justify;
  font-weight: 100;
}

footer .footer-socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
  width: 400px;
  margin: 55px 0 0 0;
}

footer .footer-socials img{
  width: 130px;
}
footer .footer-socials p{
  font-size: 25px;
  letter-spacing: 2px;
  margin-left: 31px;
}

.footer-socials .iconify{
  /* margin: 0 5px; */
  border: 1px solid #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  color: #AD5E00;
  font-size: 40px !important;
}